<!DOCTYPE html>
<html lang="vi" data-assets-path="../assets/">

<head>;
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../assets/img/logo.PNG" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <title>Nhận dạng Bằng</title>
  <link rel="stylesheet" href="../assets/css/ketqua.css">
</head>

<body>

  <div class="wrapper" action="/ketqua" method="POST">
    <div class="bia-bang">
      <br>

      <h2>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
      <h3>Độc lập - Tự do - Hạnh phúc</h3>
      <br><br><br><br><br><br><br><br><br>
      <img src="../assets/img/quochuy.png" alt="Quốc huy Việt Nam"><br>
      <h1>BẰNG TỐT NGHIỆP ĐẠI HỌC</h1>
    </div>
    <div class="thong-tin-bang" style="background-image: url(../assets/img/nenvang.jpg); background-size:  100%;">

  

  

      <div class="header">

        <h2>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
        <h3>Độc lập - Tự do - Hạnh phúc</h3>
        <h2>HIỆU TRƯỞNG</h2>
        <h2 style="text-transform: uppercase;">TRƯỜNG <%= data.truong %>
        </h2>
      </div>

      <div class="noi-dung">
        <h2>cấp</h2>
        <h1 style="text-transform: uppercase;">BẰNG <%= data.bang %>
        </h1>
        <h3>
          <%= data.nganh %>
        </h3>
        <br>
        <br>



        <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
          <i>Cho:</i>
          <div style="text-align: center; width: 80%;">
            <b>
              <%= data.fullname %>
            </b>
          </div>
        </div>

        <div style="display: flex; justify-content: space-between; padding-bottom: 10px;">
          <i> Ngày sinh:</i>
          <div style="text-align: center; width: 80%;">
            <b>
              <%= data.ngaysinh %>
            </b>
          </div>
        </div>



        <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
          <i> Năm tốt nghiệp:</i>
          <div style="text-align: center; width: 80%;">
            <b>
              <%= data.nam %>
            </b>
          </div>
        </div>

        <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
          <i>Xếp loại tốt nghiệp:</i>
          <div style="text-align: center; width: 80%;">
            <b>
              <%= data.loai %>
            </b>
          </div>
        </div>

        <div style="display: flex; justify-content: space-between;padding-bottom: 10px;">
          <i> Hình thức đào tạo:</i>
          <span style="text-align: center; width: 80%;">
            <b>
              <%= data.hinhthuc %>
            </b>
          </span>
        </div>



        <div class="footer">
          <div class="footer-content">
            <p class="hieu-truong" style="font-weight: bold">HIỆU TRƯỞNG</p>
            <br><br><br><br>
            <p style="color: red" class="data-ht">
              <%= data.ht %>
            </p>
          </div>

          <div class="sohieu">
            <b>Số hiệu:</b><span style="color: red; margin-left: 10px;">
              <%= data.sohieu %>
            </span>
          </div>
        </div>


      </div>
    </div>

</body>

</html>